
<html>
<head ng-app="toDoApp">
    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
        body    { padding:10px; width:300px;  }
    </style>


    <!-- JS ===================== -->
    <!-- load angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="index.js"></script>

</head>




<body ng-controller="toDoController as ctrl">
    <div class="form">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="ctrl.task">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="ctrl.addTask()">
            <span class="glyphicon glyphicon-plus"></span> Add Task</button>
        </span>
        </div>
    </div>
    <hr/>
    <ul class="list-group" ng-show="ctrl.task.length>0">
        <li class="list-group-item clearfix task" ng-repeat="todo in ctrl.toDoList">
            <p class="lead">{{todo.toDoList}}</p>
            <div>
      <span class="pull-right">
        <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-repeat"></span></button>
        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
      </span>
            </div>
        </li>
    </ul>
</body>
